// Navigation
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem 0;

  &__list {
    display: flex;
    gap: 4.8rem;

    list-style: none;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 1.6;
    color: $color-primary--dark-1;
  }

  &__link--active:link,
  &__link--active:visited {
    color: $color-primary--dark-2;
    border-bottom: 1px solid $color-primary--dark-2;
  }
}

/* ## Font sizes
- 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

## Spacing system
- 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
